* {
  margin: 0;
  padding: 0;
}
html{
	scroll-behavior: smooth;
}
a {
	color: white;
	font-style: italic;
}
html, body {height: 100%}
/*Keyframes*/
@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-o-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

body {
	background-image: url('rozhdestvo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   -ms-background-size: cover;
   background-size: cover;
}

div#wrapper {
	background-image: url('snowflake.png'), url('snowflake3.png'), url('snowflake2.png');
	height:100%;
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	-o-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}

#container {
	width: 800px;
	margin-left: -400px;
	margin-top: -200px;
	position: absolute;
	top: 50%;	
	left: 50%;
	text-align: center;
	color:azure;
	font: 80px/1 'Lobster', cursive;
	text-shadow: 0px 0px 5px lightblue;
}

#container p {
	font: 30px/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border: white 2px solid;
	box-shadow: 0px 0px 5px lightblue;
	padding: 13px 0;
}
iframe{
	margin-top: 400px;
	margin-bottom: 200px;
}